body {
    background-image: url(./assets/Desktop_Backgrounds_1920x1200_6\ 3Back.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    margin: 200px 0px;
}
.learn {
    background-image: url(./assets/Rectangle\ 5learn.png), url(./assets/IMG_1334_72dpi_RGB_\ 1.png);
}